body {
	background: #999;
	font-family: arial;
}

h1  {
	color: green;
}

a {
	color: blue;
}

p {
	background: #778;
	color: white;
	padding: 10px;
}

.secondary {
	background: #700;
	color: pink;
	padding: 10px;
}

.third {
	background: #900;
	color: pink;
	padding: 10px;
}